<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Wine Thing</title>
    <link rel="stylesheet" href="~/style/StyleSheet.css" />
</head>
<body class="shake">
    <h1>Pick a wine</h1>

    <form method="post">
        <label for="Cost">Max cost</label>
        <input type="number" name="Cost" />

        <label for="Points">Min Points</label>
        <input type="number" name="Points" />

        <button type="submit">SUBMIT!</button>
    </form>

</body>
</html>